<!--SOURCE   https://bootsnipp.com/snippets/featured/form-wizard-and-validation-->

<div class="container">
  <div class="stepwizard">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a  type="button"  [className]="'btn btn-circle ' + (steps['first']['active'] ? 'btn-primary' : 'btn-default')" >1</a>
        <p>Step 1</p>
        <!--disabled="{{steps['second']['active']? '' : 'disabled'}}"-->
      </div>
      <div class="stepwizard-step">
        <a  type="button"   [className]="'btn btn-circle ' + (steps['second']['active'] ? 'btn-primary' : 'btn-default')" >2</a>
        <p>Step 2</p>
        <!--disabled="{{steps['second']['active']? '' : 'disabled'}}"-->
      </div>
      <div class="stepwizard-step">
        <a  type="button"  [className]="'btn btn-circle ' + (steps['third']['active'] ? 'btn-primary' : 'btn-default')" >3</a>
        <p>Step 3</p>
        <!--disabled="{{steps['third']['active']? '' : 'disabled'}}"-->
      </div>
    </div>
  </div>
  <form role="form">
    <!--STEP 1-->
    <ng-container >
      <div class="row setup-content" id="step-1" [hidden]="!steps['first']['active']">
        <div class="col-xs-12">
          <div class="col-md-12">
            <h3> Choose Business Categories</h3>


            <div class="form-group">
              <tag-input [(ngModel)]="business['businessCategories']"
                         [onlyFromAutocomplete]="true"
                          name="businessCategoriesTagsInput">
                <tag-input-dropdown [showDropdownIfEmpty]="false"
                                    [autocompleteObservable]="searchCategories">
                </tag-input-dropdown>
              </tag-input>
            </div>


            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" (click)="moveToPrevious('first')" *ngIf="false">Previous</button>
            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" (click)="moveToNext('first')" [disabled]="steps['first'].isValid()">Next</button>
          </div>
        </div>
      </div>
    </ng-container>

    <!--STEP 2-->
    <ng-container >
      <div class="row setup-content" id="step-2" [hidden]="!steps['second']['active']">
        <div class="col-xs-12">
          <div class="col-md-12">
            <h3> Step 2</h3>
            <div class="form-group">
              <label class="control-label">Business Name</label>
              <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Business Name"
                     [(ngModel)]="business['businessDisplayName']"
                     name="businessDisplayName"/>
            </div>


            <div class="form-group">
              <label class="control-label">Identification Code</label>
              <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Identification Code"
                     [(ngModel)]="business['identificationCode']"
                     name="identificationCode"/>
            </div>

            <div class="form-group">
              <label class="control-label">Registration Code</label>
              <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Registration"
                     [(ngModel)]="business['registrationCode']"
                     name="registrationCode"/>
            </div>

            <div class="form-group">
              <label class="control-label">Registration Date</label>

              <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="registrationDateModel" [(ngModel)]="registrationDateModel" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                  <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                </button>
              </div>
            </div>

            </div>


            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" (click)="moveToPrevious('second')" *ngIf="true">Previous</button>
            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" (click)="moveToNext('second')" [disabled]="steps['second'].isValid()">Next</button>
          </div>
        </div>
      </div>
    </ng-container>


    <!--STEP 3-->
    <ng-container >
      <div class="row setup-content" id="step-3" [hidden]="!steps['third']['active']">
        <div class="col-xs-12">
          <div class="col-md-12">
            <h3> Step 3</h3>

            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" (click)="moveToPrevious('third')" *ngIf="true">Previous</button>
            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" (click)="moveToNext('third')" *ngIf="false" [disabled]="steps['third'].isValid()">Next</button>
            <button class="btn btn-success btn-lg pull-right" type="submit">Finish!</button>
          </div>
        </div>
      </div>
    </ng-container>



  </form>
</div>